.postDetailWrap {
  color: #e0dada;
  z-index: 5;
  animation: fade-in 0.5s ease-in-out;
  flex-grow: 1;
  margin-left: 15px;
}

.postDetail {
  position: fixed;
  border-radius: 16px;
  background: rgba(41, 41, 41);
  display: flex;
  padding: 10px;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}

.name {
  width: 90%;
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btnClose {
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 20px;
  margin: 10px auto;
}

.blackout {
  z-index: 5;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
